.profile {
  background-color: var(--color-light);
}
.profile div {
  padding: 3rem;
}
.profile h3 {
  text-shadow: 0px 1px 1px var(--color-accent-dark);
  letter-spacing: .3rem;
  text-align: center;
  padding: .5rem;
}
.profile p {
  padding: 3rem;
}

