.breadcrumbs {
  font-size: 2rem;
  background-color: var(--color-mid); 
  width: 50%;
  height: 5rem;
  display: flex; 
  flex-direction: row wrap; 
  justify-content: space-around;
  margin: auto;
}
.breadcrumbs div {
  padding: 1rem;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.breadcrumbs div button {
  background-color: inherit;
}
.isActive {
border-top: 1px solid var(--color-accent-dark);
border-bottom: 1px solid var(--color-accent-dark);
}