.link {
  padding: 1rem;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-family: "Alegreya";
  background-color: var(--color-light);
  border-top: 3px solid var(--color-mid);
  border-bottom: 3px solid var(--color-mid);
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}

.link:hover,
.link:active {
  letter-spacing: 5px;
  border-top: 3px solid var(--color-accent-dark);
  border-bottom: 3px solid var(--color-accent-dark);
}