.posting {
  background-color: var(--color-light);
  padding: 1rem;
  display: grid;
  gap: 2rem;
  padding: 2rem;
}
.posting h3,
.posting h4,
.posting h5,
.posting time,
.posting address {
  text-shadow: 0px 1px 1px var(--color-accent-dark);
  letter-spacing: .3rem;
  text-align: center;
  padding: .5rem;
}
.posting h4,
.posting h5,
.posting time,
.posting address {
  padding-top: 0rem;
}
.posting .row {
  display: flex;
  flex-direction: row;
  flex: 1;
  
}
.posting .imageWrapper {
  padding: 1rem;
}
.posting .imageWrapper img {
  width: 100%;
  border-radius: 5px;
}
.posting .imageWrapper cite {
  font-size: 1rem;
}
.posting .textWrapper {
  padding: 1rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.posting .textWrapper p {
  padding-left: .5rem;
  border-left: 1px solid var(--color-accent-dark);
}

.posting .row:last-of-type {
  justify-self: flex-end;
}